@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-canvas text-ink;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-border-strong rounded-full;
  }
}
